.field {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-bg {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-image: url('~src/assets/img/bg_32.jpg'); //Tilde hinzufügen
    filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.card-stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        width: 120px;
        top: 0;
        bottom: 0;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.05) translateY(-10px);
    }
}

.pick-card {
    animation: pick-card-animation 1.0s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

// bei keyframes kein important verwenden, sonst funktioniert es nicht!
@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(1.5);
    }

    60% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
    }
}

.played-card {
    right: 25px;
    transform: scale(1.3) translateX(140px) translateY(-180px) rotate(-10deg);
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.btn-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 100px;
    right: 100px;
}

.confirm-max-player {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(50%);
    overflow: auto;
    opacity: 1;
    z-index: 1;
}

.d-none {
    display: none;
}

.position-button {
    display: flex;
}

.confirm-max-player-button {
    width: 300px;
    height: 80px;
    background: #454545;
    border-radius: 12px;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    position: relative;
    animation-name: confirm-max-player-button 1.0 forwards;

    &:hover {
        background: red;
    }
}

@keyframes confirm-max-player-button {
    from {
        top: 700px;
    }

    to {
        top: 0px;
    }
}

@media screen and (max-width:800px) {

    .pick-card {
        animation: pick-card-animation-responsive 1.0 ease-in-out;
        transform: scale(1.3) translateY(-190px) rotate(-10deg);
    }

    @keyframes pick-card-animation-responsive {
        0% {
            transform: scale(1);
        }

        30% {
            transform: scale(1.4);
        }

        60% {
            transform: scale(1.4);
        }

        100% {
            transform: scale(1.3) translateY(-190px) rotate(-10deg);
        }
    }

    .played-card {
        transform: scale(1.3) translateY(-190px) rotate(-10deg);
        right: 25px;
    }

    .pin-bottom {
        left: 10px;
        right: 10px;
    }

    .btn-add {
        bottom: 150px;
    }

    .pin-bottom {
        bottom: 20px;
    }
}

@media screen and (max-width:500px) {
    .player-position {
        position: absolute;
        top: 0px;
    }

    .pin-bottom {
        bottom: 12px;
    }
}